@import "tailwindcss";
@plugin "daisyui";

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: oklch(var(--bc) / 0.15);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: oklch(var(--bc) / 0.3);
}

* {
  scroll-behavior: smooth;
}
